instructions.txt
summary.txt
TODO
.env
__pycache__
venv/*
build/*
dist/
ref.spec
r_and_d/*
ref2
.aider*
ref-save

.cursorrules
BUG.md
broken_links.md

# Cursor specific
.cursorrules.bak

research/

# Python package build artifacts
*.egg-info/
_version.py

# Development planning files
project_structure


listing
testfile

.cursorindexingignore
.specstory/

logs/
